html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }

  /* .container{
    margin-top: 30%;
  } */
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 50%;
  margin-top: 10%;
}

@media screen and (max-device-width:640px), screen and (max-width:640px) {
  .container{
    margin-top: 45%;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}