.nav a {
    color:#111;
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
}

.nav a:hover{
    color: #76EE00;
}

.nav{
    box-shadow: 12px 0 15px -4px rgba(124, 252, 0, 0.3), -12px 0 8px -4px rgba(124, 252, 0, 0.3);
}

.card{
    width: 450px;
}

.avatar img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}