.nav a {
    color:#111;
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
}

.left{
    box-shadow: 12px 5px 15px -4px rgba(124, 252, 0, 0.3), -12px 5px 8px -4px rgba(124, 252, 0, 0.3);
}

.nav a:hover{
    color: #76EE00;
}

.card{
    width: 600px;
}

.avatar img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.card-header{
    display: flex;
    flex-direction: row;
    padding: 7px;
}