{%include 'base.html'%}
{% load static %}
{% load cloudinary %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/busy.css' %}">  
{% endblock  %}
  

{% block content %} 

<div class="container">
    <h2 class="mt-3 mb-3"><i class="fas fa-map-marker-alt">   {{ jobs.neighbourhood.location}}, {{ jobs.neighbourhood.neighbourhood_name }}</i></h2>
    <h3 class="ml-4" style="color: #4A7023; font-weight:bold;">Available Businesses</h3>
    <div class="row">

      {% for items in jobs %}
        
      <div class="col-md-11">
        <!-- Jumbotron -->
<div class="card card-image" style="background-image: url();">
  <div class="text-white text-center rgba-stylish-strong py-1 px-4">
    <div class="py-3">

      <!-- Content -->
      <h5 class="h5 text-success"><i class="fas fa-user-circle"></i> {{items.profile.user.username}}</h5>
      <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.</p>
      <a class="btn aqua-gradient"><i class="fas fa-user-tie"></i> Business Info</a>

    </div>
  </div>
</div>
<!-- Jumbotron -->
</div>
     
        {% endfor %}
    </div>
    <hr>
    <br>
</div>

{% endblock  %}
