{%include 'base.html'%}
{% load static %}
{% load cloudinary %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">  
<link rel="stylesheet" href="{% static 'js/jquery.easypiechart.js' %}">  
{% endblock  %}
  

{% block content %} 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-12 left">
        <!-- Grid column -->

            <nav class="nav flex-column lighten-4 py-4 font-weight-bold">
            <a style="color: #4A7023;" class="nav-link active"><h3><span style="text-decoration: underline;">CATEGORIES</span></h3></a>
            <a class="nav-link" href="#"><i class="far fa-newspaper">   All News</i></a>
            <a class="nav-link" href="#"><i class="fas fa-trash-restore-alt">   Lost and Found</i></a>
            <a class="nav-link" href="#"><i class="fas fa-medkit">   Health Emergency</i></a>
            <a class="nav-link" href="#"><i class="fas fa-fire-alt">   Fire Breakouts</i></a>
            <a class="nav-link" href="#"><i class="fas fa-exclamation-circle">   Crimes and Safety</i></a>
            <a class="nav-link" href="#"><i class="fas fa-skull-crossbones">   Deaths and Burials</i></a>
            <a class="nav-link" href="#"><i class="fas fa-calendar-day">   Events</i></a>
            <a class="nav-link" href="#"><i class="fas fa-file">   Documents</i></a>
            </nav>

        <!-- Grid column -->
         </div>

        <div class="col-md-6">

            <h2 class="mt-3" style="color: black; font-weight:bold;"><i class="fas fa-map-marker-alt">   Nairobi, Langata</i></h2>

            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img class="img-fluid" src="/static/img/user_square.jpg">
                    </div>
                    <div class="name lead"><strong><span style="font-size: 20px;">  John Doe</span></strong> <br>  <small><span class="text-muted">Monday at 3:47 PM</span></small></div>
                </div>
                <div class="card-content p-2">
                    What a nice photo i took yesterday!
                </div>
                <div class="card-content">
                    <img src="http://lorempixel.com/1000/600/" style="width: 100%">
                </div>
                <div class="card-content fg-gray p-2">
                    <span><small>Likes: </small>112</span>
                    <span><small>Comments: </small>43</span>
                </div>
                <div class="card-footer">
                    <button class="flat-button mif-thumbs-up mif-2x"></button>
                    <button class="flat-button mif-tag mif-2x"></button>
                    <button class="flat-button mif-share mif-2x"></button>
                </div>
            </div>

            <hr>

            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img class="img-fluid" src="/static/img/user_square.jpg">
                    </div>
                    <div class="name lead"><strong><span style="font-size: 20px;">  John Doe</span></strong> <br>  <small><span class="text-muted">Monday at 3:47 PM</span></small></div>
                </div>
                <div class="card-content p-2">
                    What a nice photo i took yesterday!
                </div>
                <div class="card-content">
                    <img src="http://lorempixel.com/1000/600/" style="width: 100%">
                </div>
                <div class="card-content fg-gray p-2">
                    <span><small>Likes: </small>112</span>
                    <span><small>Comments: </small>43</span>
                </div>
                <div class="card-footer">
                    <button class="flat-button mif-thumbs-up mif-2x"></button>
                    <button class="flat-button mif-tag mif-2x"></button>
                    <button class="flat-button mif-share mif-2x"></button>
                </div>
            </div>

            <hr>

            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img class="img-fluid" src="/static/img/user_square.jpg">
                    </div>
                    <div class="name lead"><strong><span style="font-size: 20px;">  John Doe</span></strong> <br>  <small><span class="text-muted">Monday at 3:47 PM</span></small></div>
                </div>
                <div class="card-content p-2">
                    What a nice photo i took yesterday!
                </div>
                <div class="card-content">
                    <img src="http://lorempixel.com/1000/600/" style="width: 100%">
                </div>
                <div class="card-content fg-gray p-2">
                    <span><small>Likes: </small>112</span>
                    <span><small>Comments: </small>43</span>
                </div>
                <div class="card-footer">
                    <button class="flat-button mif-thumbs-up mif-2x"></button>
                    <button class="flat-button mif-tag mif-2x"></button>
                    <button class="flat-button mif-share mif-2x"></button>
                </div>
            </div>

        </div>

        <div class="col-md-3">

        </div>

    </div>
</div>
{% endblock %} 

